@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--very-light-grayish-blue: hsl(240, 78%, 98%);
	--light-grayish-blue: hsl(234, 14%, 74%);
	--grayish-blue: hsl(233, 13%, 49%);
	--dark-grayish-blue: hsl(232, 13%, 33%);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--very-light-grayish-blue);
}

/* svg background */

.svg-background {
	z-index: -1;
	overflow: hidden;
	position: absolute;
	background-repeat: no-repeat;
}

.svg-background--top {
	background-image: url(./images/bg-top.svg);
	width: 350px;
	height: 700px;
	right: 0;
	bottom: 50px;
}

.svg-background--bottom {
	background-image: url(./images/bg-bottom.svg);
	width: 370px;
	height: 300px;
	bottom: -20px;
	left: 0;
}

/* heading */

h1 {
	margin-top: 40px;
	color: var(--dark-grayish-blue);
}

/* options */

.options-container {
	display: flex;
	color: var(--grayish-blue);
	font-weight: 600;
	align-items: center;
	margin-bottom: 50px;
}

.option-btn {
	width: 60px;
	height: 30px;
	background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	margin: 0 15px;
	border-radius: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.circle {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 100%;
	margin: 0 4px;
}

/* cards */

.cards-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.card {
	background-color: white;
	color: var(--dark-grayish-blue);
	text-align: center;
	border-radius: 5px;
	padding: 40px;
	height: max-content;
	width: max-content;
	width: 33%;
}

.card--professional {
	background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	color: white;
	padding: 50px 40px;
}

.card--heading {
	font-weight: 700;
	margin-bottom: 20px;
}

.card--price {
	font-weight: 800;
	font-size: 3.5rem;
	margin-bottom: 22px;
}

.card--info p {
	border-bottom: 0.6px solid var(--light-grayish-blue);
	padding: 17px;
	margin: 0;
	font-weight: 600;
}

.card--info p:first-of-type {
	border-top: 0.6px solid var(--light-grayish-blue);
}

.card--btn {
	background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	padding: 10px;
	margin-bottom: 0;
	margin-top: 24px;
	color: white;
	font-weight: 600;
	border-radius: 6px;
}

.card--btn--professional {
	background-image: none;
	background-color: white;
	color: hsl(237, 63%, 64%);
}

@media only screen and (max-width: 900px) {
	.cards-container {
		width: 100%;
		flex-direction: column;
	}

	.card {
		width: 90%;
		margin-bottom: 20px;
	}

	.card--professional {
		padding: 40px;
	}
}
